{% extends "index-base.html" %}


{% block title %} We Love Faxing all pets {% endblock %}


{% block body%}
<div class="container">
    <h1>Welcome to the Pet Faxing Center</h1>
      <div class="pets-container"></div>
        {% for pet in pets%}
            <div class="pet">
                <h2>{{pet.pet_name}}</h2>
        <img src="{{pet.pet_photo}}" alt="{{pet.pet_name}}">
        <a href="/pets/{{pet.pet_id}}">Learn more...</a>
            </div>
    
      
        {% endfor %}
             
        
   
       
        </div>
    </div>
    <div class="container">
        <div class="callout">
            We love to fax more pets - tell us which pets to Fax
            <a href="/facts/new">here</a>
        </div>
    </div>

{% endblock%}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>PetFax</title>
</head>
<body>
    
</body>
</html> -->